#vending-machine{
    display: flex;
    gap: 10px
}

#vending-machine > div {
    /* border: solid 1px #777; */
    padding: 10px
}

#products-grid {
    flex-grow: 2;
}

#purchasing-panel{
    flex-grow: 1;
}

